.about{
    display: flex;
    justify-content:space-evenly;
    margin:15px 0px 0px 0px;
    margin-right: 60px;

}
.bigContainer{
    background-color: #DDDDDD;
    ;
    height: 150px;
    width: 235px;
}
.smallContainer{
    background-color: #DDDDDD;
    ;
    height: 150px;
    width: 150px;
}
.small-main-content{
    display:grid;
     grid-template-columns:repeat(2,1fr);
      gap:20px;
}











@media only screen and (max-width: 768px) {
    
  }